    <!-- Footer Section Begin -->
    <footer class="footer spad">
       <div class="container">
          <%- include('../block/bottom') %>
          <%- include('../block/copyright') %>
       </div>
    </footer>
    <!-- Footer Section End -->

    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
      <div id="signupToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
        <div class="toast-header">
          <strong class="mr-auto">Signup</strong>

          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          You are registered!
        </div>
      </div>
    </div>

    <!-- Js Plugins -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <script src="/public/js/jquery.slicknav.js"></script>
    <script src="/public/js/mixitup.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/custom.js"></script>
</body>

</html>